.container{
    display: table;
    height: 500px;
    width: 500px;
    
    
}
.col_grid{
    /* border: 1px solid red; */
    border:1px solid blue;
    background: black;
    display: table-cell;
}

.row_grid{
    background: black;
    display: table-row;
}


